.categoryimage {
  width: 100%;
  height: auto;
}

.bar {
  display: flex;
  margin: 1%;
  justify-content: space-between;
  background-color: #fff;
  width: 95%;
  border: 1px solid #bebbbb;
  border-radius: 10%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent line breaks */
}

.productbox {
  flex-direction: column;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 20px;
  width: 80%;
  height: 90%;
  align-self: baseline;
}

.text {
  font-size: 1rem;
  font-weight: 650;
  font-family: inherit;
}

