.dialog-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.image-container {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: #f0eded;
  padding: 20px;
  max-width: 40%;
}

.login-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px;
  align-self: center;
  margin-top: 20%;
}

.login-dialog .MuiPaper-root {
  border-radius: 12px;
  width: 100%;
  max-width: 800px; /* Adjusted to fit the image and form side by side */
}

.title {
  max-height: 0%;
}
.close-button {
  position: fixed;
  color: #aaa;
}

.login-dialog-content {
  text-align: center;
  border: none;
  padding-bottom: 0;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.login-subtitle {
  font-size: 16px;
  color: #777;
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin-bottom: 16px;
  border-radius: 8px;
}

.forgot {
  align-self: flex-start;
}

.forgot-password-link {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #fcf5fb;
  text-decoration: none;
  align-self: flex-start;
}

.login-dialog-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
}

.login-button {
  color: white;
  padding: 10px 24px;
  border-radius: 8px;
  text-transform: none;
  background-color: #ff3e6c;
}

.login-button:hover {
  background-color: #05632f;
}

.signupc{
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup{
  color:#05632f
}

.signup:hover {
  color: blue;
}